/* first row */
.hoover{
    display:flex;
    position: absolute;
    top: 180px;
    margin-left: 5px;
    flex-direction: row;
}
.box1{
    top:200px;
    width: 410px;
    margin-left:20px;
}


.hoover1{
    display:flex;
    position: absolute;
    top: 560px;
    margin-left: 5px;
}
.box2{
    top:200px;
    width: 410px;
    margin-left:20px;
}

.hoover2{
    display:flex;
    position: absolute;
    top: 940px;
    margin-left: 5px;
    
}

.box3{
    top:200px;
    width: 410px;
    margin-left:20px;
}

.subtitle{
    padding-left: 19px;
    font-size: 15px;
    font-weight: bold;
}
.boxphoto{
   padding-left: 0px; 
    top: 200px;
    width: 410px;
    height: 300px;
    transition: .5s;
}

/*content*/
.place{
    height: 100px;
    width: 400px;
    top: 170px;
    margin-left: 16px;
    box-sizing:border-box;
    position: absolute;
    background-color: rgb(28, 18, 18);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(207, 204, 114);
    font-size: 17px;
    bottom:170px;
    transition: .2s;
    visibility: hidden;

}
.box1:hover span{
   visibility: visible;
   opacity: 6;
}

.box2:hover span{
    visibility: visible;
    opacity: 6;
}
.box3:hover span{
    visibility: visible;
    opacity: 6;
}

 .box1:hover .place{
    visibility: visible;
    opacity: 45;
 }
 .box2:hover .place{
    visibility: visible;
    opacity: 45;
 }
 .box3:hover .place{
    visibility: visible;
    opacity: 45;
 }
 .box,.box1,.box2,.box3 :hover{
    cursor: pointer;
 }
/* .box:hover .boxphoto{
    transform: scale(1.1) rotate(-2deg);
} */

.foot3{
    height: 120px;
    background-color: #2F4F4F;
    margin-top: 1300px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0px;
    padding-inline: 10px;
    text-align: center;
    width: 1330px;
  }
  