h3 {
  font-size: 1.5rem;
}
.trek{
  position: absolute;
  top: 180px;
  left: 5px;
  width:560px;
  height: 360px;
  box-shadow: 3px 5px 5px black;
  border-radius: 15px;
}
.trek:hover{
  opacity: -10px;
}
.trekdetail{
  position: absolute;
  top: 170px;
  left:590px;
  height: 400px;
  width: 720px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
}
.Wild{
  border: 3px solid #B0E0E6;
  height: 400px;
  margin-top: 130px;
  width: 1330px;
  padding-left: 10px;
}
.trek1{
  position: absolute;
  top: 570px;
  left: 5px;
  width:560px;
  height: 370px;
  border-radius: 15px;
  box-shadow: 3px 5px 5px black;
}
.trekdetail1{
  position: absolute;
  top: 570px;
  left:590px;
  height: 400px;
  width: 610px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
}
.Wild1{
  border: 3px solid #B0E0E6;
  height: 400px;
  margin-top: 0px;
  width: 1330px;
  padding-left: 10px;
}
.trek3{
  position: absolute;
  top: 975px;
  left: 5px;
  width:560px;
  height: 370px;
  border-radius: 15px;
  box-shadow: 3px 5px 5px black;
}
.trekdetail3{
  position: absolute;
  top: 970px;
  left:590px;
  height: 400px;
  width: 650px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
}
.Wild3{
  border: 3px solid #B0E0E6;
  height: 400px;
  margin-top: 0px;
  width: 1330px;
  padding-left: 10px;
}
.trek2{
  position: absolute;
  top: 1380px;
  left: 5px;
  width:560px;
  height: 375px;
  border-radius: 15px;
  box-shadow: 3px 5px 5px black;
}
.trekdetail2{
  position: absolute;
  top: 1390px;
  left:590px;
  height: 400px;
  width: 650px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
}
.Wild2{
  border: 3px solid #B0E0E6;
  height: 400px;
  margin-top: 0px;
  width: 1330px;
  padding-left: 10px;
}

.trek4{
  position: absolute;
  top: 1785px;
  left: 5px;
  width:560px;
  height: 375px;
  border-radius: 15px;
  box-shadow: 3px 5px 5px black;
}
.trekdetail4{
  position: absolute;
  top: 1800px;
  left:590px;
  height: 410px;
  width: 650px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
}
.Wild4{
  border: 3px solid #B0E0E6;
  height: 400px;
  margin-top: 0px;
  width: 1335px;
  padding-left: 5px;
}

.foot2{
  height: 120px;
  background-color: #2F4F4F;
  margin-top: 50px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 0px;
  padding-inline: 10px;
  text-align: center;
  width: 1330px;
}
 